<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
  </head>
  <body>
    <% if(message) {%>
    <p class="text-danger"><%= message %></p>
    <% } %>
    <p class="login-box-msg">Register a new membership</p>

    <form action="" method="post">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Name"
          name="name"
          required
        />
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-user"></span>
          </div>
        </div>
      </div>
      <div class="input-group mb-3">
        <input
          type="email"
          class="form-control"
          placeholder="Email"
          name="email"
          required
        />
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-envelope"></span>
          </div>
        </div>
      </div>

      <div class="input-group mb-3">
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          name="password"
          required
        />
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-lock"></span>
          </div>
        </div>
      </div>

      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Address"
          name="address"
        />
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-home"></span>
          </div>
        </div>
      </div>

      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Phone"
          name="phone_number"
        />
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-phone"></span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-8">
          <div class="icheck-primary">
            <input
              type="checkbox"
              id="agreeTerms"
              name="terms"
              value="agree"
              required
            />
            <label for="agreeTerms">I agree to the <a href="#">terms</a></label>
          </div>
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary btn-block">
            Register
          </button>
        </div>
      </div>
    </form>

    <div class="social-auth-links text-center mb-3">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-primary">
        <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
      </a>
      <a href="#" class="btn btn-block btn-danger">
        <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
      </a>
    </div>
    <!-- /.social-auth-links -->

    <p class="mb-1">
      <a href="login">I already have a membership</a>
    </p>
  </body>
</html>
