<div class="card-body">
  <form action="/admin/sizes/add" method="post">
    <div class="form-group">
      <label for="name">Tên size:</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        placeholder="Nhập tên"
        required
      />
    </div>

    <button type="submit" class="btn btn-primary">Thêm</button>
  </form>
</div>
