<div class="card-body">
  <form action="/admin/sizes/edit/<%= size.id %>" method="post">
    <div class="form-group">
      <label for="name">Tên size:</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        placeholder="Nhập tên"
        value="<%= size.name %>"
        required
      />
    </div>

    <input type="hidden" name="_method" value="PATCH" />
    <button type="submit" class="btn btn-primary">Cập nhật</button>
  </form>
</div>
