<aside class="app-sidebar">
  <div class="app-sidebar__user">
    <div>
      <p class="app-sidebar__user-name"><b>Admin</b></p>
      <p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
    </div>
  </div>
  <hr />
  <ul class="app-menu">
    <li>
      <a class="app-menu__item haha" href="/admin/categories">
        <i class="app-menu__icon bx bx-cart-alt"></i>
        <span class="app-menu__label">Danh mục sản phẩm</span>
      </a>
    </li>
    <li>
      <a class="app-menu__item" href="/admin/brands">
        <i class="app-menu__icon bx bx-tachometer"></i>
        <span class="app-menu__label">Nhãn hiệu sản phẩm</span>
      </a>
    </li>
    <li>
      <a class="app-menu__item" href="/admin/products">
        <i class="app-menu__icon bx bx-purchase-tag-alt"></i>
        <span class="app-menu__label">Sản phẩm</span>
      </a>
    </li>
    <li>
      <a class="app-menu__item" href="/admin/product-variants">
        <i class="app-menu__icon bx bx-id-card"></i>
        <span class="app-menu__label">Biến thể sản phẩm</span>
      </a>
    </li>
    <li>
      <a class="app-menu__item" href="/admin/product-images">
        <i class="app-menu__icon bx bx-user-voice"></i>
        <span class="app-menu__label">Hình ảnh sản phẩm</span>
      </a>
    </li>
    <li>
      <a class="app-menu__item" href="/admin/product-attributes">
        <i class="app-menu__icon bx bx-task"></i>
        <span class="app-menu__label">Thuộc tính sản phẩm</span>
      </a>
    </li>
    <li>
      <a class="app-menu__item" href="/admin/product-sizes">
        <i class="app-menu__icon bx bx-run"></i>
        <span class="app-menu__label">Kích thước sản phẩm</span>
      </a>
    </li>
    <li>
      <a class="app-menu__item" href="/admin/product-colors">
        <i class="app-menu__icon bx bx-dollar"></i>
        <span class="app-menu__label">Màu sắc sản phẩm</span>
      </a>
    </li>
    <li>
      <a class="app-menu__item" href="/admin/product-materials">
        <i class="app-menu__icon bx bx-pie-chart-alt-2"></i>
        <span class="app-menu__label">Vật liệu sản phẩm</span>
      </a>
    </li>
    <li>
      <a class="app-menu__item" href="/admin/origin-countries">
        <i class="app-menu__icon bx bx-calendar-check"></i>
        <span class="app-menu__label">Quốc gia xuất xứ</span>
      </a>
    </li>
    <li>
      <a class="app-menu__item" href="/admin/combos">
        <i class="app-menu__icon bx bx-cog"></i>
        <span class="app-menu__label">Combo sản phẩm</span>
      </a>
    </li>
    <li>
      <a class="app-menu__item" href="/admin/combo-items">
        <i class="app-menu__icon bx bx-cog"></i>
        <span class="app-menu__label">Mục Combo</span>
      </a>
    </li>
    <li>
      <a class="app-menu__item" href="/admin/news">
        <i class="app-menu__icon bx bx-cog"></i>
        <span class="app-menu__label">Tin tức</span>
      </a>
    </li>
    <li>
      <a class="app-menu__item" href="/admin/advertisements">
        <i class="app-menu__icon bx bx-cog"></i>
        <span class="app-menu__label">Quảng cáo</span>
      </a>
    </li>
    <li>
      <a class="app-menu__item" href="/admin/files">
        <i class="app-menu__icon bx bx-cog"></i>
        <span class="app-menu__label">Tập tin</span>
      </a>
    </li>
  </ul>
</aside>
