<div class="row justify-content-center">
  <div class="col-12 col-md-6 col-lg-4" style="min-width: 500px">
    <div
      class="card bg-white mb-5 mt-5 border-0"
      style="box-shadow: 0 12px 15px rgba(0, 0, 0, 0.02)"
    >
      <% if(message) {%> <%= message %> <% } %>
      <span class="text-danger"
        ><%= validate.getError(errors, "passwordOld")%></span
      >
      <span class="text-danger"
        ><%= validate.getError(errors, "passwordNew")%></span
      >
      <div class="card-body">
        <form action="/admin/changePassword" method="post">
          <div class="form-group">
            <label for="passwordOld">Mật khẩu cũ:</label>
            <input
              class="form-control form-control-lg"
              type="password"
              name="passwordOld"
              placeholder="Nhập mật khẩu mới..."
            />
          </div>
          <div class="form-group">
            <label for="passwordNew">Mật khẩu mới:</label>
            <input
              class="form-control form-control-lg"
              type="password"
              name="passwordNew"
              placeholder="Nhập mật khẩu mới..."
            />
          </div>
          <div class="form-group">
            <label for="repasswordNew">Nhập lại mật khẩu mới:</label>
            <input
              class="form-control form-control-lg"
              type="password"
              name="repasswordNew"
              placeholder="Nhập lại mật khẩu mới..."
            />
          </div>
          <div class="text-center mt-3">
            <button type="submit" class="btn btn-lg btn-primary">
              Đổi mật khẩu
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
