<div class="card-body">
  <form action="/admin/brands/add" method="post">
    <div class="form-group">
      <label for="name">Tên thương hiệu:</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        placeholder="Nhập tên thương hiệu"
        required
      />
    </div>

    <button type="submit" class="btn btn-primary">Thêm</button>
  </form>
</div>
