<main class="app-content">
  <!-- Breadcrumb -->
  <div class="row">
    <div class="col-md-12">
      <div class="app-title">
        <ul class="app-breadcrumb breadcrumb"> 
          <li class="breadcrumb-item">
            <a href="#"><b>Bảng điều khiển</b></a>
          </l>
        </ul>
        <!-- Clock -->
        <div id="clock"></div>
      </div>
    </div>
  </div>
  <!-- Content -->
  <!-- Content goes here -->
</main>
