

    <table class="table table-bordered text-center">
      <thead>
        <tr>
          <th><input type="checkbox" id="checkboxAll" /></th>
          <th style="width: 10px">#</th>
          <th>Tên</th>
          <th>Email</th>
          <th>SĐT</th>
          <th>Địa chỉ</th>
          <th>Ngày tạo</th>
          <th>Phân quyền</th>

          <th colspan="2">Chức năng</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
