<div class="card-body">
  <form action="/admin/categories/add" method="post">
    <div class="form-group">
      <label for="name">Tên danh mục:</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        placeholder="Nhập tên danh mục"
        required
      />
    </div>
    <div class="form-group">
      <label for="priority">Level:</label>
      <input
        type="number"
        class="form-control"
        id="priority"
        name="priority"
        placeholder="Nhập ưu tiên cho danh mục"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Thêm</button>
  </form>
</div>
